
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>

<body>

	<div th:replace="common/header :: navbar"></div>

	<div class="container" style="width: 100%">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-xs-8">
				<h2 class="section-headline"><div> Hi 
					<span
						th:text="${user}? ${#strings.toUpperCase(user.username)}"></span> Update your Password </div>
				</h2>
			</div>
		</div> 
	<br>
	
	 <div>
	 <a href="changepwd" class="btn btn-primary" >click to Update</a>
	 </div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>




