
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>

<body "background-image: url('https://i.pinimg.com/originals/48/e3/9b/48e39b2970c7c9c10c53223d4c5e1ade.jpg');"
  background-repeat: no-repeat;>

	<div th:replace="common/header :: navbar"></div>

	<div class="container" style="width: 100%">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-xs-8" >
			<br> 
			<br>
			<br>
			<h2>Terms And Condition</h2>
			<br>
				<p style="text-align:center">
                <ul>
               <li>Sharebuddy builds technologies and services that enable people to connect with each other, 
				build book sharing communities, for the book lovers. </li>
               <li>These Terms govern your use of 
				Sharebuddy, online book sharing platform, and the other products, features, apps, services, 
				technologies, and software we offer (the Sharebuddy Products or Products),except where we 
				expressly state that separate terms (and not these) apply.</li>
               <li>these Products are provided to 
				you by sharebuddy, Inc.2021. </li>
               <li>We don't charge you to use Sharebuddy online book sharing platform
                or the other products and services covered by these TermsWe don't sell your personal data to 
                advertisers, and we don't share information unless you want to show.</li>
                <li>Posting Fake/Vulgar or any unusal book or any violation of term may lead to  permanent user  account deletion so be careful.</li>
                <li>Verifying the Buyer/Seller is sole responsibilty of user ShareBuddy Team is Not Responsible for any Financial Losses Incurred.</li>
               </ul>
			</p>
			</div>
		</div> 
	<br>
	
	 
	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>




